.tituloPrincipal{
    text-align: left;
    color: white;
    padding: 25px
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.parrafos{
    text-align: center;
    color: green;
    font-weight: bold;
}

.enfasis{
    background-color: buttonshadow;
    color: red;
}

a{
    color: forestgreen;
}

a hover {
    background-color: buttonshadow;
    color: red;
}

a adictive{
    background-color:red;
    color:black;
}
a visited {
    font-size: 20px;
}

.fondo{
    background-color: black;
    color: white
}

